<extends src='layout.html'>
  <block name="header-content">
    <div>
      <h2 role="heading">Mude para uma alimentação vegana sem complicação, com comidas do dia a dia!</h2>
      <p>
        Finalmente você vai conseguir ter uma <strong>alimentação baseada em plantas</strong> sem ter que aprender receitas complicadas, 
        que tomam muito tempo e com ingredientes difíceis de achar.
      </p>
    </div>
  </block>

  <block name='content'>
    <article role="article">
      <header>
        <h1>Faça a transição para uma alimentação vegana sem dificuldade</h1>
        <time pubdate>15/02/2020</time>
        <address>
          <a href="/sobre" rel="author">Rômulo</a>
        </address>
      </header>
    </article>

  </block>
</extends>
