<!DOCTYPE html>
<html>

  <head>
    <block name="meta">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
      <meta name="description" content="">
      <meta name="author" content="Rômulo Augusto & Samira Tavares">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </block>

    <block name="title">
      <title>Alimentação Vegana - Como mudar para o veganismo | Transição Vegana</title>
    </block>

    <block name="fonts">
      <link rel="dns-prefetch" href="https://fonts.gstatic.com"/>

      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro&display=swap" rel="stylesheet">
    </block>

    <block name="stylesheets">
      <link rel="stylesheet" href="css/reset.css">
      <link rel="stylesheet" href="css/index.css">
    </block>
  </head>

  <body role="document">
    <header role="banner">
      <h1 role="heading">Transição Vegana</h1>
      <nav role="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/privacidade">Privacidade</a></li>
        </ul>
      </nav>

      <block name="header-content"></block>
    </header>

    <main role="main">
      <block name="content"></block>
    </main>

    <footer role="contentinfo">
      <nav role="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/privacidade">Privacidade</a></li>
        </ul>
      </nav>
    </footer>

    <block name="javascript">
      <script src="js/main.js" defer></script>
    </block>
  </body>

</html>
